<p id="notice"><%= notice %></p>

<p>
  <b>Team:</b>
  <%= @player.team_id %>
</p>

<p>
  <b>Last name:</b>
  <%= @player.last_name %>
</p>

<p>
  <b>First name:</b>
  <%= @player.first_name %>
</p>

<p>
  <b>Throws:</b>
  <%= @player.throws %>
</p>

<p>
  <b>Position:</b>
  <%= @player.position %>
</p>

<p>
  <b>Wins:</b>
  <%= @player.wins %>
</p>

<p>
  <b>Losses:</b>
  <%= @player.losses %>
</p>

<p>
  <b>Saves:</b>
  <%= @player.saves %>
</p>

<p>
  <b>Games:</b>
  <%= @player.games %>
</p>

<p>
  <b>Games started:</b>
  <%= @player.games_started %>
</p>

<p>
  <b>Games complete:</b>
  <%= @player.games_complete %>
</p>

<p>
  <b>Shut outs:</b>
  <%= @player.shut_outs %>
</p>

<p>
  <b>Era:</b>
  <%= @player.era %>
</p>

<p>
  <b>Innings:</b>
  <%= @player.innings %>
</p>

<p>
  <b>Home runs:</b>
  <%= @player.home_runs %>
</p>

<p>
  <b>Runs:</b>
  <%= @player.runs %>
</p>

<p>
  <b>Earned runs:</b>
  <%= @player.earned_runs %>
</p>

<p>
  <b>Hit batter:</b>
  <%= @player.hit_batter %>
</p>

<p>
  <b>Wild pitchers:</b>
  <%= @player.wild_pitchers %>
</p>

<p>
  <b>Balk:</b>
  <%= @player.balk %>
</p>

<p>
  <b>Walked batter:</b>
  <%= @player.walked_batter %>
</p>

<p>
  <b>Struck out batter:</b>
  <%= @player.struck_out_batter %>
</p>


<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
